.main{
    position: relative;
    
    padding-top: 100px;
    
}
h3{
    font-size: 50px;
}
.heading{
  font-size: 3.75rem !important;
}
.choose-btn{
position: absolute;
width: 150px;
height: 40px;
top:200px;
background: transparent;
outline: none;
}
.upload-btn{
    position: absolute;
    width: 150px;
    height: 40px;
    top:200px;
    outline: none;
    z-index: -1;
    outline: none;
}
  .upload-csv{
    position: relative;
    padding-top: 100px;
    text-align: center;
 }

 .upload div{
display: flex!important;
    justify-content: center;
 }

  h3{
    font-size: 50px;  
  }
  .choose-btn{
    position: absolute;
    width: 264px;
    height: 60px;
    top: 250px;
    background: transparent;
    border: 1px solid #03A9F4;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
  }
  .upload-btn{
    position: absolute;
      width: 264px;
      height: 60px;
      top: 250px;
      background: transparent;
      border: 1px solid #03A9F4;
      border-radius: 30px;
      background-color: #03A9F4;
      color: black;
      font-size: 18px;
}
    
  