.popup{
    z-index: 1;
    position: absolute;
    background: turquoise;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}